<%= form_for @post do |f| %>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
    <br><br>

    <%= f.label :content %><br>
    <%= f.text_area :content %>
    <br><br>
    <h3>Categories</h3>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
    <%= f.fields_for :categories, post.categories.build do |cat_fields| %>
        <%= cat_fields.label "New Category" %><br>
        <%= cat_fields.text_field :name %>
    <% end %>
    <br><br><%= f.submit %>
<% end %>

// Checkbox Categories
// Text Field to Create New Categories
// // Typing in an EXISTING name will not create new Category
// // Instead will associate existing Category from Database