<h1><%= @post.title %></h1>
<p>
<%= @post.content %>
</p>
<h2>Categories:</h2>
<ul>
<% @post.categories.each do |category| %>
<li><%= category.name %></li>
<% end %>
</ul>
<h2>Comments:</h2>
<ul>
<% @post.users.uniq.each do |user| %>
<li>
    <%= link_to user.username, user %> says:
        <% user.comments.each do |comment| %>
        <%= comment.content %> <br>
        <% end %>
</li>
<% end %>
</ul>
<h1>New Comment</h1>
<%= form_for comment=Comment.new do |f|%>
<%= f.label :content %>
<%= f.text_field :content %><br>
<%= f.label :users, 'User' %>
<%= f.collection_select :user_id, User.all, :id, :username %><br>
<%= f.fields_for :user, comment.build_user do |users_fields| %>
<%= users_fields.label :username, "New user" %>
<%= users_fields.text_field :username %><br>
<% end %>
<%= f.hidden_field :post_id, value: @post.id %>
<%= f.submit %>
<% end %>